<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <title>Gestão de Certificados</title>
</head>
<body>

    <!-- Primeira Seção Hero para Pesquisar Matrícula -->
    <section class="hero is-primary is-fullheight">
        <div class="hero-body">
            <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
                <tbody>
                    <tr>
                        <td>{{ header|safe }}</td>
                    </tr>
                    
                    <tr>
                        <td>{{ body|safe }}</td>
                    </tr>
 
                    <tr>
                        <td>{{ footer|safe }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>

</body>
</html>